html,body,div,ul,li { margin:0px; padding:0px; }
html, body { width:100%; }
pre { font-family:inherit; }

.clear { clear:both; }

#edit_button {
	text-align:center;
	padding:30px 0px 15px 0px;
}
	#edit_link { padding:10px 20px; border:1px;
		font-size:20px;
		font-weight:bold;
		color:#E0CC53;
		text-decoration:none; 
		background:#458BD1;
		border:2px solid;
		border-color:#2A5885;
		border-color: rgba(42, 88, 133, 0.7);
	}
	#edit_link:hover { text-decoration:underline; }
	
.social-icon {
	width:16px;
	height:18px;
	text-indent:20px;
	padding: 0px 2px;
}
.social-icon a:link {
	color: blue;
	text-decoration: none;
}
.social-icon a:hover {
	text-decoration: underline;
}
.social-icon a:visited {
	color: blue;
	text-decoration: underline;
}

body {
	color: #012849;
	font-family: Times New Roman, serif;
	background: url(/opendirectory//img/background_main.png) top left repeat-x;
}
 
#page {
	width:880px;
	margin:0 auto;
	background: #E2DED5;
}

#header {
	background:url(/opendirectory//img/background_header.jpg) top left no-repeat;
	padding:16px 0px 0px 0px;
	height:77px;
}

	#logo {
		width: 250px;
		height: 55px;
		margin-top:16px 0px 0px 5px;
		border:0px;
	}

	#user_box {
		float:right;
		text-align:right;
		padding:10px;
		background:#458BD1;
		background: rgba(69, 139, 209, 0.5);
		border:2px solid;
		border-color:#2A5885;
		border-color: rgba(42, 88, 133, 0.7);
	}
	
		#user_box a {
			color:#E0CC53;
			font-size:14px;
			font-weight:bold;
			text-decoration:none;

		}
		
		#user_box li {
			display:inline; 
			list-icon-style:none;
			padding:0px 15px;
		}
		
		#welcome { color:white; font-weight:bold; }
		
		#user_top_bar { }
		#user_bottom_bar { color:white; font-weight:normal; }  
  
#nav_bar {
	color: white;
	background: url(/opendirectory//img/background_menu.png) top left repeat-x;
	line-height: 30px;
	font-family: Helvetica, Arial, sans-serif;
}
	#nav_bar a { color:white; text-decoration:none; }
	#nav_bar a:hover { text-decoration:underline; }

  	#nav_bar ul {
  		display:inline;
	  	list-icon-style:none;
	  	padding-left:10px;
  	}
  	
	  	#nav_bar li { display:inline; }
	  	.sep { padding:0px 10px; display:inline; }
  	  	  
  		#nav_search { float:right; display:inline; }
			#nav_search_input { display:inline; margin-left:5px; }
			
#top_info {
	text-align:right;
}

/*Start New CSS*/

#splash_logo {
  margin-left: 49px;
  margin-top: 20px;
  height: 39px;
}

#splash_desc {
  text-align: left;
  position: relative;
  width: 500px;
  margin: 0 auto;
}

/* Quick Results */
.quickresult {
  width:304px;
  z-index:10;
  border-left:solid 1px #dedede;
  border-right:solid 1px #dedede;
  background:#fff;
  color:#777;
  line-height:14px;
  font-size:10pt;
  overflow:hidden;
  visibility:hidden;
}
#quickresult-body {
  /*
  position:absolute;
  top:122px;
  left:170px;*/
}
#quickresult-header {
	text-align:left;
}
.quickresult ul, .quickresult li {
  list-style-type:none;
  margin:0px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;

}
.quickresult_box {
  margin-top:0px;
  padding:4px; 
  font-size:12px; 
}
.quickresult_box:hover {
  background:#FFFFCC;
  color:#FFFFFF;
}
/* End Quick Results */

#main {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.55);
  -mox-box-shadow: 0px 0px 15px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.55);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  min-height: 500px;
  margin-bottom: 20px;
}

#main p {
  white-space: pre-wrap;
}

.ratio_left {
  width: 38.19660117%;
	float:left;
}

.ratio_right {
  width: 61.80339883%;
  float: right;
}

#main_left div {
  margin-left: 20px;
  margin-top: 20px;
}

#main_regular {
	margin-left:20px;
	margin-top:20px;
	margin-bottom: 5px;
}

.contact p,
.admin p {
  margin-right: 10px;
  margin-bottom: -15px;
}

#profile_bookmark a:before {
  content: url(/opendirectory/img/social_favorite_15x15.png) " ";
}

#profile_edit a:before {
  content: url(/opendirectory/img/admin_edit_15x15.png) " ";
}

#profile_bookmark a,
#profile_edit a,
.vcard a {
  text-decoration: none;
}

#profile_bookmark a:hover,
#profile_edit a:hover,
.vcard a:hover {
  text-decoration: underline;
}

#profile_bookmark {
  margin-bottom: 5px;
}

#senate_phone:before,
#senate_email:before {
  content: "Senate: ";
}

#additional_phone:before,
#additional_email:before {
  content: "Add'l: ";
}

#additional_irc:before {
  content: "IRC: ";
}

#senate_location:before {
  content: "Location: ";
}

.vcard {
  margin-bottom: 20px;
}

.vcard a:before {
  content: url(/opendirectory/img/social_download_15x15.png);
}

#header_person {
  text-align: right;
  margin-right: 20px; 
}
#bio {
  text-align: left;
  margin-right: 20px;
}

#bio p:before {
  content: "     ";/*Change out for tab unicode*/
}

#name {
  font-size: 2.5em;
  margin-bottom: -.5em;
}
#title,
#office {
  font-size: 1.5em;
}
#title {
  margin-bottom: -1em;
}
/* Probably unneeded, but here in case
#si_wrapper {
  margin-right: 20px;
}
*/

#skills h3,
#interests h3 {
  margin-bottom: 5px;
}

#skills,
#interests {
  margin-right: 20px;
  margin-bottom: 20px;
}

#skills ul {
  margin-bottom: -10px;
}

#skills li,
#interests li {
  display: inline;
}

#skills li:after,
#interests li:after {
  content: ", ";
}

#skills li:last-child:after,
#interests li:last-child:after {
  content: "";
}

/*End New CSS*/

#edit_pic {
	float:eft;
}

  	#search_entire {
  		text-align:center;
  	}
  	
  	#advanced_search {
  		text-align:center;
  	}
  	
  	a#advanced:hover {
  		text-decoration:none;
  	}
  	
  	#nav_search_entire {
	  	float:right;
	  	width:10 px;
  	}

  	#login_entire {
  		text-align: center;
  	}
  	
  	#query {
	  	font-weight:bold;
	  	font-style:italic;
  	}
  	
  	#bookmark_info {
	  	font-size:15px;
	  	position: relative;
	  	left: 120px;
  		bottom:110px;
  	}
  	
  	#error {
	  	text-align:center;
	  	color:red;
  	}

  	.entity_button { display:inline; }
  	.entity_title { display:inline; font-weight:bold; }
  	.people{margin-left: 40px;}
  	a.people_url:hover{text-decoration:none;}
  
.result { padding:3px 0px 3px 3px; }
.bookmark { padding:5px 0px 5px 3px; }
	.result_pic, .bookmark_pic { float:left; }
	.result_info {	font-size:18px; padding-left:65px; }
	.bookmark_info { font-size:18px; padding-left:90px; }


#main {
  width: 840px;
  height: 100%;
  float: left;
  position: relative;
  margin: 20px;
  background: #ffffff url(/opendirectory/img/background_footer.png) repeat-x bottom left;
  
}

#main_center {
	margin-top:20px;
	margin-bottom:5px;
	text-align:center;
}

#edit_generalinfo p {
	font-weight:bold;
	text-decoration:underline;
}

#edit_socialinfo p {
	font-weight:bold;
	text-decoration:underline;
}

#edit_skills p {
	font-style:italic;
	font-size: 12px;
}

#edit_interests p {
	font-style:italic;
	font-size: 12px;
}

#edit_addinfo p {
	font-weight:bold;
	text-decoration:underline;
}

#edit_contactinfo p {
	font-weight:bold;
	text-decoration:underline;
}



.entity_button {
	display:inline;
	font-family:monospace;
	font-size:16px;
	font-weight:bolder;
	border:solid black;
	border-width:2px;
	padding:0px 5px;
	margin-right:6px;
	background: #E6F1FC;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
	
.entity_button:hover {
	cursor:pointer;
	background: #C7E2FC;
}

.entity_list li {
	list-style:none;
	padding:2px;
	width:300px;
}
	.entity_list a {
		color:black;
		text-decoration:none;
	}
	
	.entity_list a:hover {
		text-decoration:underline;
	}
	
	.even { background: #C7E2FC; }
	.odd { background: #E6F1FC; }

#footer {}

#profile_tab {
	text-align:center;
	border-collapse:collapse;
	width:75px;
	position:relative;
	float:left;
	border: 1px solid black;
	background-color:white;
	font-size:80%;
}

#profile_tab a {
	text-decoration:none;
}

#profile_tab a:hover {
	color:black;
	text-decoration: underline;
}

#profile_tab a:visited {
	color:black;
}

#edit_input {
	font-size:80%;
	float:left;
	width:70px;
	text-align:left;
	margin-right:7px;
	line-height:23px;
}

#edit_form_field ol {
	list-style: none;
	margin:0;
	padding:0;
}

#edit_form_field li {
	padding:6px;
	margin-bottom:1px;
}

#edit_container {
	width:500px;
	padding:6px;
	background-color:#e1ded4;
	font-family: Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.55);
  -mox-box-shadow: 0px 0px 5px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.55);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#edit_error {
  		padding:3px 3px 3px 3px;
  		color:black;
  		border:1px solid #FF3300;
  		margin:1em auto;
  		border-collapse:collapse;
  		background-color:#FECCBF;
  		margin: 0px auto;
  		text-align:center;
  		
  	}
  	
  	.notice
{
	background-color:#ffffcc;
	color:#555;
	padding:3px;
	font-size:80%;
	border:1px solid #aaaaaa;
	text-align:center;
	font-family: Helvetica, Arial, sans-serif;
	
}

h2.homeText
{
	background:none;
	margin-top:10px;	
  margin-bottom:5px;
  font-size: 1.05em;
  line-height: 1.2em;
  font-weight: bold;
  /*color:#005588;*/
	
	}
	


a.sublink, a.sublink:visited, a.sublink:link
{
	text-decoration:none;	
	color:#005577;
}

a.sublink:hover
{
	text-decoration: underline;	
}