html,body,div,ul,li { margin:0px; padding:0px; }

body
  {
    color: #012849;
    font-family: Times New Roman, serif;
    background: url(http://www.nysenate.gov/sites/all/themes/nys/images/nyss_bg.png) top left repeat-x;
  }
 #forward_back{
	position: absolute;
	top: 0px;
	left: 0px; 
	color:#C6B44A;
	text-decoration: none;
	font-weight: bold;
 }
 a.forward_back{
 color:#C6B44A;
 }
 a.forward_back:hover{
color: #FFFFFF
 }
 
#page {
	width:877px;
	margin:0 auto;
	background: #E2DED5;
}

#header {
	background:url(http://www.nysenate.gov/sites/all/themes/nys/images/header.png) top left no-repeat;
	padding:16px 0px 0px 0px;	
}
  #logo /* Wrapper for logo */
  {
    background: transparent url(http://www.nysenate.gov/sites/all/themes/nys/images/nyss_logo.png) no-repeat top left;
    width: 280px;
    height: 65px;
    margin-top:16px 0px 0px 5px;
    padding-bottom:10px;
    /*text-indent: -9999px;*/
  }
  #user_bar a{
  	color:#C6B44A;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	position: absolute;
	top: 20px;
	right: 400px; 
  }
  #user_options 
  {
  
	font-size:14px;
	text-decoration:underline;
	position: absolute;
	top: 50px;
	right: 158px; 
  
  
  }
  
  #user_options ul {
  		display:inline;
	  	list-icon-style:none;
  	}
  	#user_options li {
  		padding:10px;
  		display:inline;
  	}
  	#user_options a {
  		color:white;
  	}
  	
  	#user_options a:hover {
  		text-decoration:none;
  	}
  
  #welcome
  {
  color:#FFFFFF;
  position: absolute;
  top: 3px;
  right: 185px;
  }
  #user_bar a:hover{
  color: #FFFFFF
  }
  
    #home a{
  	color:#C6B44A;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	position: absolute;
	top: 20px;
	right: 325px; 
  }
  #home a:hover{
  color: #FFFFFF
  }
  #top_info
  {
  text-align:right;
  
  }
  #pic
  {
	float:left;
  }
  #edit_pic 
  {
  float:eft;
  }
  
  #nav_bar {
    color: white;
	background: url(http://www.nysenate.gov/sites/all/themes/nys/images/nyss_menu_bg.png) top left repeat-x;
	line-height: 30px;
	margin-top:2px;
	font-family: Helvetica, Arial, sans-serif;
  }
	  a.nav {
	  
	  color: white;
	  
	  }
	  a.nav:visited{
	  color: white;
	
	 	}
	  a.nav:hover{
	  text-decoration:none;

 	}
  	#nav_bar ul {
  		display:inline;
	  	list-icon-style:none;
  	}
  	#nav_bar li {
  		padding:10px;
  		display:inline;
  	}

  	#search_entire{
  	text-align:center;
  	}
  	#advanced_search{
  	text-align:center;
  	}
  	a#advanced:hover{
  	text-decoration:none;}
  	
  	#nav_search_entire{
  	float:right;
  	width:10 px;
  	}
  	#nav_search{
  	width: 150px;
  	}
  	#login_entire
  	{
  	text-align: center;
  	}
  	#query
  	{
  	font-weight:bold;
  	font-style:italic;
  	}
  	#search_info
  	{
  	font-size:15px;
  	position: relative;
  	left: 120px;
  	bottom:70px;
  	}
  	#error
  	{
  	text-align:center;
  	color:red;
  	}

  	.entity_button { display:inline; }
  	.entity_title { display:inline; font-weight:bold; }
  	.people{margin-left: 40px;}
  	a.people_url:hover{text-decoration:none;}
  	
#main {
 margin-top: 15px;
    margin: 20px;
    padding: 20px;
    background: #ffffff url(http://www.nysenate.gov/sites/all/themes/nys/images/nyss_block_footer_bg.png) repeat-x bottom left;
}
#skills
{
    margin: 20px;
   	margin-top: 40px;
    padding: 20px;
    background: #ffffff url(http://www.nysenate.gov/sites/all/themes/nys/images/nyss_block_footer_bg.png) repeat-x bottom left;
    width:350px;
}
#skills b
{
    font-size:24px;
}
#interests b
{
    font-size:24px;
}
#add_info b
{
    font-size:24px;
}
#interests
{
	
	margin-top: 15px;
    margin: 20px;
    padding: 20px;
    background: #ffffff url(http://www.nysenate.gov/sites/all/themes/nys/images/nyss_block_footer_bg.png) repeat-x bottom left;
    width:350px;
   float: right;
   
}
#add_info {
 margin-top: 15px;
    margin: 20px;
    padding: 20px;
    background: #ffffff url(http://www.nysenate.gov/sites/all/themes/nys/images/nyss_block_footer_bg.png) repeat-x bottom left;
}
#edit_skills p
{
	font-style:italic;
	font-size: 12px;
}
#edit_interests p
{
	font-style:italic;
	font-size: 12px;
}
#edit_addinfo p
{
	font-weight:bold;
	text-decoration:underline;
}

#name
{
	font-size: 30px;
}
#info
{
	font-size: 12px;
}
#bio b
{
	font-size:24px;
	
}

#footer {}



