<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>BrowseServlet</servlet-name>
		<servlet-class>gov.nysenate.opendirectory.servlets.BrowseServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>PersonServlet</servlet-name>
		<servlet-class>gov.nysenate.opendirectory.servlets.PersonServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SolrControllerServlet</servlet-name>
		<servlet-class>gov.nysenate.opendirectory.servlets.SolrControllerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>APIServlet</servlet-name>
		<servlet-class>gov.nysenate.opendirectory.servlets.APIServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>gov.nysenate.opendirectory.servlets.UserServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>gov.nysenate.opendirectory.servlets.IndexServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>gov.nysenate.opendirectory.servlets.SearchServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BrowseServlet</servlet-name>
		<url-pattern>/browse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BrowseServlet</servlet-name>
		<url-pattern>/browse/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>PersonServlet</servlet-name>
		<url-pattern>/person</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersonServlet</servlet-name>
		<url-pattern>/person/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SolrControllerServlet</servlet-name>
		<url-pattern>/solr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SolrControllerServlet</servlet-name>
		<url-pattern>/solr/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>APIServlet</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>APIServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	
</web-app>